button {
  cursor: pointer;
  position: relative;
  animation: shake 5s ease-in;
}

@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

.card {
  overflow: hidden;
  max-height: 200px;
  border-radius: 2px;
  position: relative;
  width:16%;
  /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
  margin: 0 5px 5px;
}

.card > .img-container > img {
  width: 60%
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}

@media screen and (max-width: 976px) {
  .card {
    width: 24%;   
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 30%;   
  }
}