.card {
  border-radius: 10px !important;
  overflow: hidden;
  max-height: 140px;
  position: relative;
  /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
  width: auto;
  margin: 0 5px 5px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}

span {
  font-size: 1.2rem !important;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-shadow: none;
}

.disabled {
  display: none
}

@media screen and (max-width: 1356px) {
  span {
    font-size: 1.1rem !important;
  }
}

@media screen and (max-width: 768px) {
  .card {
    height: 175px !important;
  }
  .friendImg {
    height: 175px !important;
  }
  span {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 576px) {
  .card {
    height: 125px !important;
  }

  .friendImg {
    padding-top: 28px !important;
    height: 125px !important;
  }

  .card span {
    padding: 10px !important;
    font-size: 0.6rem !important;
  }
}

@media screen and (max-width: 420px) {
  .card span {
    font-size: 0.5rem !important;
  }
}