.resetBtn {
    width: fit-content;
    margin: 0 auto;
    bottom: 20px;
    overflow: initial;
}

.scoreBtn {
    font-size: 1.6rem;
    padding: 0.3rem 0 0 0 !important;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    nav p {
        font-size: 3rem !important;
    }
    .nav-wrapper {
        padding: 1rem 2rem 0px !important;
    }
}

@media screen and (max-width: 576px) {
    nav p {
        font-size: 3.0rem !important;
        bottom: 12%;
    }
    .nav-wrapper {
        padding: 1rem 0 0px !important;
    }
    .scoreBtn {
        width: 36px !important;
        height: 36px !important;
        line-height: 36px !important;
        font-size: 24px !important;
    }
    .resetBtn {
        bottom: 0
    }
}

@media screen and (max-width: 375px) {
    nav p {
        font-size: 1.4rem !important;
        top: -8px;
    }
    .resetBtn {
        bottom: -8px !important;
    }
}