@font-face {
    font-family: Burbank Big Cd Bk;
    src: url("./BurbankBigCondensed-Black.otf") format("opentype");
}

* {
  font-family: Burbank Big Cd Bk !important;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#modal1 {
  text-Align: center;
  height: 60%;
  width: 40%;
}

#modal1 card {
  width: 35%;
}

#modal1 card img {
  padding-top: 40px;
}

@media screen and (max-width: 976px) {
  #modal1 {
    height: 70%;
    width: 65%;
  }

  #modal1 card {
    width: 50%;   
  }
  
  #modal1 card img {
    padding-top: 40px !important;
  }

}

@media screen and (max-width: 768px) {
  
  #modal1 card span {
    font-size: 0.8rem;
  }
}